*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        font-family: sans-serif;
    }
    body{
        background: gold;
        min-height: 200vh;
    }
    .alina{
        width: 350px;
        height: 200px;
        border-radius:9px;
        display: block;
        margin:  50px auto;
        background-color: #fff;
        overflow: hidden;
        transition: .5s;
    }
    .photo img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 9px;
    }
    .photo{
        width:130px;
        height:150px;
        border-radius: 9px;
        display: block;
        margin:auto;
        padding-top: 15px;
        padding-bottom: 15px;

    }
.alina h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding-bottom:5px;
}
.alina p{
    text-align: center;
    font-size: 14px;
    color: grey;
}
.info{
display: flex;
gap: 70px;
justify-content: center;
margin-top: 80px;
}
.buttons{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 30px;
}
.buttons button{
    padding:10px 25px;
    border: 1px solid grey;
    color: grey;
    transition: .3s;
    border-radius: 4px;
}
.buttons:hover button{
    background-color: violet;
    border: none;
    color: white;
}
.alina:hover{
    width: 350px;
    height: 450px;
    transform: scale(1.2);
    margin-top: 100px;
}
.hidden{
margin-top: 50px;
padding: 20px;
}
.hidden p{
margin-top: 10px;
margin-bottom: 10px;
}