@font-face {
    font-family: odina;
    src: url("./Dancing_Script/DancingScript-VariableFont_wght.ttf");
}
@font-face {
    font-family:oyxon ;
    src: url(./RubikPuddles-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;}
    body{
        background: #191919;
        min-height: 500vh;
    }
    h1{
        color: aquamarine;
        font-family: oyxon;
        text-align: center;
        margin-top: 20px;
    }
    .box{
        width: 150px;
        height: 150px;
        background-color: #f2ad53;
        border-radius: 200px 200px 50px 50px;
        margin: 150px auto;
        z-index:21;
        position: relative;
    }
    .up{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #FFF58F;
    margin: auto;
    transform: translateY(205px);
    z-index: 20;
    position: relative;
    }
    .down{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color:#E08027;
    margin: auto;
    transform: translateY(-200px);
    position: relative;
    z-index: 20;
    }
    .title{
        color: red;
    }
    .kid{
        width: 250px;
        height: 220px;
        border-radius: 200px 200px 90px 90px;
background: rgba(253, 2, 52, 0.996);
margin:50px auto;
position: relative;
overflow: hidden;
    }
    .hair__left{
        width: 150px;
        height: 120px;
        background: wheat;
        border-radius: 50%;
position: absolute;
top: -30px;
left: 20px;
    }
    .hair__right{
        width: 150px;
        height: 120px;
        background: wheat;
        border-radius: 50%;
position: absolute;
top: -30px;
right: 20px;
    }
    .eyes{
        display: flex;
        gap: 10px;
    }
    .eye{
        width: 60px;
        height: 60px;
        background: wheat;
        border-radius: 50%;
        margin: 90px auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .qorachiq{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #000;
    }
    .lip{
    width: 20px;
    height: 10px;
    border-radius: 4px;
    background: wheat;
    }
    .lip{
        width: 45px;
        height: 20px;
        border-radius: 3px;
        background-color: wheat;
        margin: auto;
        transform: translateY(-60px);
    }
    .situation{
        width: 300px;
        min-height: 80px;
        background: rgb(155, 230, 155);
        border-radius: 40px 0 40px 15px ;
        text-align: center;
        padding-top: 25px;
        transform: translateY(-100px);
        margin-left: 150px;
    }
    .view{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: #f3f3f3;
        margin:50px auto;
        position: relative;
    }
    h2{
        font-family: odina;
        text-align: center;
        color: gold;
        font-size: 3rem;
    }
    h3{
        font-family: odina;
        text-align: center;
        color: blue;
        font-size: 2.5rem;
    }
    .mountain{
        width: 200px;
        height: 400px;
        background-color: crimson;
position: absolute;
    }